*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-image: url(https://wallpaperaccess.com/full/9397242.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tarjetaPokemon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

