* {
  margin: 0;
  padding: 0;
}
.contenedor {
  margin: 20px;
  display: flex;
  gap: 30px;
}
.items1 {
  width: 200px;
  height: 200px;
  background-color: rgb(65, 173, 177);
  text-align: center;
  padding-top: 40px;
  border-radius: 8px;
}
.items1:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}