*{
    margin: 0;
    padding: 0;
}
.contenedor {
    margin: 20px;
    display: flex;
    gap: 30px;
  }
  
  .items {
    width: 200px;
    height: 200px;
    background-color: rgb(243, 224, 12);
    text-align: center;
    padding-top: 40px;
    border-radius: 8px;
  }
  .items:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }